.photo-item img {
  width: 100%;
}

#home .photo-item h2 {
  margin-bottom: 0.2em;
}

.photo-author {
  margin-left: -18px;
}

.photo-author a {
  font-weight: bold;
}

.home-profile-header a {
  display: flex;
  align-items: center;
}

.home-profile-header img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 2em;
  margin-bottom: 1em;
}
